@model BerkayMarket.Models.Siparis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Siparis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisVerenUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisVerenUser.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Urun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Urun.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisAlanUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisAlanUser.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miktari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miktari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisMetni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisMetni)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
