@model IEnumerable<BerkayMarket.Models.Siparis>
@using Microsoft.AspNetCore.Identity
@inject UserManager<BmUser> userManager
@inject ApplicationDbContext context

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Siparis Kodu
                @*@Html.DisplayNameFor(model => model.Id)*@
            </th>
            <th>
                İye Adı
                @*@Html.DisplayNameFor(model => model.IyeId)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiparisDurumu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miktari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiparisMetni)
            </th>
            <th>
                Satıcı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @{ var iye = await userManager.FindByIdAsync(item.IyeId);}
                @iye.UserName
                @*@Html.DisplayFor(modelItem => item.IyeId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urun.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miktari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisMetni)
            </td>
            <td>
                @context.Uruns.Single(u=>u.Id==item.UrunId).BmUserId
                @*@Html.DisplayFor(modelItem => item.Urun.BmUser.UserName)*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
