@*@model IEnumerable<BerkayMarket.Models.Urun>*@
@model  BmUser
@inject ApplicationDbContext context

@{
    ViewData["Title"] = "SaticiUrunleri";
}

<h1>SaticiUrunleri</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uruns[0].Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uruns[0].Stok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uruns[0].Kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uruns[0].Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uruns[0].Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uruns[0].BmUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Uruns) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                @context.Kategoris.Single(k=>k.Id==item.KategoriId).Adi
                @*@Html.DisplayFor(modelItem => item.Kategori.Adi)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BmUser.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Siparis" asp-action="Create" class="btn btn-outline-success" asp-route-id="@item.Id">Siparis Ver</a>
            </td>
        </tr>
}
    </tbody>
</table>
