@model KendiDukkanim.Models.Musteri

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musteri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiparisDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sipariss)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Urun Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Sipariss)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Urun.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
