@model KendiDukkanim.Models.Urun

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisaAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisaAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UzunAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UzunAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategorisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategorisi.KategoriID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UrunID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
