@model IEnumerable<KendiDukkanim.Models.Urun>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KisaAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzunAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puani)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategorisi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KisaAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UzunAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puani)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorisi.KategoriID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UrunID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UrunID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UrunID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
