@*@model IEnumerable<BerkayMarket.Models.Urun>*@
@model  Kategori
@inject ApplicationDbContext context

@{
    ViewData["Title"] = "KategoriUrunleri";
}

<h1>KategoriUrunleri</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Urunleri[0].Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urunleri[0].Stok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urunleri[0].Kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urunleri[0].Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urunleri[0].Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urunleri[0].BmUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Urunleri) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @context.Users.Single(u=>u.Id==item.BmUserId).UserName
                @*@Html.DisplayFor(modelItem => item.BmUser.UserName)*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Siparis" asp-action="Create" class="btn btn-outline-success" asp-route-id="@item.Id">Siparis Ver</a>
            </td>
        </tr>
}
    </tbody>
</table>
