@model BerkayMarket.Models.Tanislik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tanislik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IyeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IyeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanis.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durumlar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durumlar)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Durumlar != TanislikDurumlari.Onaylı)
    {
        @if ((await AuthorizationService.AuthorizeAsync(
        User, Model, TanisIslemleri.Onayla)).Succeeded)
        {
            <form style="display:inline;" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="durum" value="@TanislikDurumlari.Onaylı" />
                <button type="submit" class="btn btn-xs btn-success">Onayla</button>
            </form>
        }
    }

    @if (Model.Durumlar != TanislikDurumlari.Red)
    {
        @if ((await AuthorizationService.AuthorizeAsync(
        User, Model, TanisIslemleri.Reject)).Succeeded)
        {
            <form style="display:inline;" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="durum" value="@TanislikDurumlari.Red" />
                <button type="submit" class="btn btn-xs btn-danger">Red</button>
            </form>
        }
    }

    <div>
        @if ((await AuthorizationService.AuthorizeAsync(
            User, Model,
            TanisIslemleri.Update)).Succeeded)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <text> | </text>
        }
    <a asp-action="Index">Back to List</a>
    </div>
</div>