@model BerkayMarket.Models.Tanislik
@inject ApplicationDbContext context
@using Microsoft.AspNetCore.Identity
@inject UserManager<BmUser> userManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tanislik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @userManager.GetUserName(User)
                @*<label asp-for="IyeId" class="control-label"></label>
        <input asp-for="IyeId" class="form-control" placeholder="Bu senin kimliğin" value="@userManager.GetUserId(User)"/>
        <span asp-validation-for="IyeId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="TanisId" class="control-label"></label>
                <select asp-for="TanisId" class="form-control">
                    @foreach (var item in userManager.Users)
                    {
                        <option value="@item.Id" >@item.UserName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Durumlar" class="control-label"></label>
                <select asp-for="Durumlar" class="form-control">
                    <option>@TanislikDurumlari.İstek</option>
                    <option>@TanislikDurumlari.Kabul</option>
                    <option>@TanislikDurumlari.Red</option>
                </select>
                <span asp-validation-for="Durumlar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
